mixin content()
   .content
      .banner-block
         .container
            .banner-block__text
               .banner-block__text__table
                  .banner-block__text__td
                     p.title-banner Печати и штампы
                     p.subtitle-banner  Над Вашей задачей будет работать команда опытных специалистов, каждый из которых разбирается в тонкостях законодательства. Узкая специализация и слаженная работа сотрудников позволяет быстро
                     a(href="javascript:void(0)").banner-link  Заказать печать
      .text-block
         .container
            .text-block__inner
               .text-block__utp
                  .row
                     .col-md-4
                        .text-block__utp__item.light-blue
                           +svg('time')
                           p.title-utp Печать за 1 час
                           p.introtext Наши печати — это безупречная продукция, которую мы изготавливаем различными
                     .col-md-4
                        .text-block__utp__item.blue
                           +svg('delivery')
                           p.title-utp Бесплатная доставка
                           p.introtext Наши печати — это безупречная продукция, которую мы изготавливаем различными
                     .col-md-4
                        .text-block__utp__item.red
                           +svg('money')
                           p.title-utp От 300 рублей
                           p.introtext Наши печати — это безупречная продукция, которую мы изготавливаем различными
               .text-block__delivery
                  .row
                     .col-md-5
                        p.title  Работаем
                           span  по всей России!
                        p.list  Санкт-Петербург,	Новосибирск, Екатеринбург, Нижний Новгород, Казань, Самара,	Омск, Челябинск, Ростов-на-Дону, Уфа, Волгоград, Красноярск, Пермь, Воронеж и т.д.
                        a(href="javascript:void(0)").delivery-link  О доставке
                     .col-md-7
                        .delivery-map
                           img(src="../img/map.png")
               .text-block__goods
                  h3 Печати и штампы
                  .goods-arrows.js-goods-arrows
                  .text-block__goods__list.js-goods
                     .text-block__goods__item
                        .text-block__goods__item__border
                           img(src="../img/signet.jpg")
                           .text-block__goods__item__description
                              p.title  Печать круглая
                              p.name   Hummer R 40
                           .text-block__goods__item__pay
                              p.price   1 300
                                 span  р.
                              .buy
                                 a(href="javascript:void(0)")  Подробнее
                     .text-block__goods__item
                        .text-block__goods__item__border
                           img(src="../img/signet.jpg")
                           .text-block__goods__item__description
                              p.title  Печать круглая
                              p.name   Hummer R 40
                           .text-block__goods__item__pay
                              p.price   1 300
                                 span  р.
                              .buy
                                 a(href="javascript:void(0)")  Подробнее
                     .text-block__goods__item
                        .text-block__goods__item__border
                           img(src="../img/signet.jpg")
                           .text-block__goods__item__description
                              p.title  Печать круглая
                              p.name   Hummer R 40
                           .text-block__goods__item__pay
                              p.price   1 300
                                 span  р.
                              .buy
                                 a(href="javascript:void(0)")  Подробнее
                     .text-block__goods__item
                        .text-block__goods__item__border
                           img(src="../img/signet.jpg")
                           .text-block__goods__item__description
                              p.title  Печать круглая
                              p.name   Hummer R 40
                           .text-block__goods__item__pay
                              p.price   1 300
                                 span  р.
                              .buy
                                 a(href="javascript:void(0)")  Подробнее
                     .text-block__goods__item
                        .text-block__goods__item__border
                           img(src="../img/signet.jpg")
                           .text-block__goods__item__description
                              p.title  Печать круглая
                              p.name   Hummer R 40
                           .text-block__goods__item__pay
                              p.price   1 300
                                 span  р.
                              .buy
                                 a(href="javascript:void(0)")  Подробнее
         .order-form
            form
               fieldset
                  .container
                     .row
                        .col-md-12
                           legend   Закажите печать прямо сейчас
                        .col-md-3
                           input(type="text" placeholder="Ваше имя")
                        .col-md-3
                           input(type="tel" placeholder="Телефон")
                        .col-md-3
                           select.js-select
                              option   Круглая печать
                              option   Не круглая печать
                              option   Совсем не круглая печать
                        .col-md-3
                           input(type="submit" value="Заказать печать")
         .text-block
            .container
               .text-block__inner
                  .text-block__news
                     h3 Новости
                     a(href="javascript:void(0)").all-news  Все новости
                     .row
                        .col-md-6
                           .text-block__news__item
                              .row
                                 .col-md-4
                                    a(href="javascript:void(0)")
                                       img(src="../img/news-preview.jpg")
                                 .col-md-8
                                    p.title-news:  a(href="javascript:void(0)")   Встречайте. Новая коллекция печатей из Италии.
                                    p.date   24 августа. 2016 г.
                                    .preview-news
                                       p  Наши печати — это безупречная продукция, которую мы изготавливаем различными методами, в зависимости от ее вида и назначения. Сотрудники компании «Сельвана», имеющие большой опыт
                                    a(href="javascript:void(0)").more   Читать дальше
                        .col-md-6
                           .text-block__news__item
                              .row
                                 .col-md-4
                                    a(href="javascript:void(0)")
                                       img(src="../img/news-preview.jpg")
                                 .col-md-8
                                    p.title-news:  a(href="javascript:void(0)")   Встречайте. Новая коллекция печатей из Италии.
                                    p.date   24 августа. 2016 г.
                                    .preview-news
                                       p  Наши печати — это безупречная продукция, которую мы изготавливаем различными методами, в зависимости от ее вида и назначения. Сотрудники компании «Сельвана», имеющие большой опыт
                                    a(href="javascript:void(0)").more   Читать дальше
                  .text-block__company
                     .row
                        .col-md-3
                           img(src="../img/seo-logo.png")
                        .col-md-9
                           h3 О компании
                           p  Над Вашей задачей будет работать команда опытных специалистов, каждый из которых разбирается в тонкостях законодательства. Узкая специализация и слаженная работа сотрудников позволяет быстро решать все актуальные задачи, в то время как штатный юрист может просто не обладать необходимым уровнем компетентности или не успевать оперативно работать над многочисленными задачами разной степени сложности. Обращаясь в специализированную компанию, Вы оплачиваете не фактические отработанные часы, которые проводит сотрудник на работе (неизвестно еще с каким КПД), а результат.
                           a(href="javscript:void(0)").more   Читать дальше
                  .text-block__clients
                     .row
                        .col-md-12
                           h3 Наши клиенты
                     .client-carousel.js-clients-carousel
                        .client-carousel__item
                           img(src="../img/logo-clients.jpg")
                        .client-carousel__item
                           img(src="../img/logo-clients.jpg")
                        .client-carousel__item
                           img(src="../img/logo-clients.jpg")
                        .client-carousel__item
                           img(src="../img/logo-clients.jpg")
                        .client-carousel__item
                           img(src="../img/logo-clients.jpg")
                        .client-carousel__item
                           img(src="../img/logo-clients.jpg")
                        .client-carousel__item
                           img(src="../img/logo-clients.jpg")
                        .client-carousel__item
                           img(src="../img/logo-clients.jpg")
                        .client-carousel__item
                           img(src="../img/logo-clients.jpg")


